body {
  background-color: #121212;
  color: #fbfbfb;
  opacity: 1;
  background-image: radial-gradient(#fbfbfb 1px, transparent 1px), radial-gradient(#fbfbfb 1px, #121212 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}

a, a:hover {
  color: #fbfbfb;
}

.table {
  color: #fbfbfb;
  background-color: #121212;
}

.card, .list-group-item {
  background-color: #121212;
}