* {
	font-family: 'Nunito', sans-serif;
}

.link-zoom:hover {
	font-size: 1.1rem;
}

.skin-color {
	color: #f1c27d;
}

/* Card columns count */

/* Small screens */

@media (min-width: 576px) {
	.card-columns {
		column-count: 2;
	}
}

/* Medium screens */

@media (min-width: 768px) {
	.card-columns {
		column-count: 2;
	}
}

/* Large screens */

@media (min-width: 992px) {
	.card-columns {
		column-count: 3;
	}
}

/* Animations */

.animated {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	animation-name: fadeIn;
}