{% extends "diary/core/base.html" %}
{% load static %}

{% block title %}
Dear Diary - Dashboard of {{username}}
{% endblock %}

{% block content %}
{% include 'diary/core/navbar.html' %}
<div class="container mt-3">
  {% include 'diary/core/success_messages.html' %}

  {% if moods|length > 0 %}
  {% include 'diary/core/pagination.html' %}
  {% include 'diary/core/moods-sortby.html' %}
  {% include 'diary/core/moods-cards.html' %}
  {% else %}
  <div class="text-center mb-5">
    <h1 class="display-4 font-weight-bold">No mood published yet...</h1>
    <div class="mx-auto text-center col-md-6 mt-5">
      <img src="{% static 'diary/img/nocontent.webp' %}" class="img-fluid rounded-circle" alt="no mood published">
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}