{% extends "diary/core/base.html" %}
{% load static %}

{% block content %}
{% include 'diary/core/navbar.html' %}
<div class="container mx-auto">
  {% if is_paginated %}
  <nav aria-label="moods-pagination">
    <ul class="pagination justify-content-center mt-3">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      {% endif %}

      {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      </li>
      {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

  {% if moods|length > 0 %}
  <div class="row row-cols-1 row-cols-md-2">
    {% for mood in moods %}
    <div class="col my-3">
      <div class="card h-100 shadow bg-white rounded">
        <div class="card-body">
          <h1 class="card-title display-4 mb-4">
            <i class="ml-2 far fa-bookmark"></i>
            {{mood.name}}
          </h1>
          <h5>Description <i class="ml-2 fas fa-feather"></i></h5>
          <hr class="m-0" />
          <p class="card-title">{{mood.description}}</p>
          <p class="card-text">
            {% with ''|center:mood.score as range %}
            {% for _ in range %}
            <i class="far fa-smile-beam"></i>
            {% endfor %}
            {% endwith %}
          </p>
          <div class="row flex-row-reverse">
            <form method="POST" action="{% url 'diary:delete' mood.id %}" class="text-right mr-2">
              {% csrf_token %}<input type="submit" class="btn btn-danger" value="Delete">
            </form>
            <a class="btn btn-info d-inline-block mr-2" href="{% url 'diary:edit' mood.pk %}">Edit</a>
          </div>
          <p class="card-text">
            <small class="text-muted">Last updated {{ mood.updated_on | date:"d/m/Y H:i" }}</small>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="text-center mt-5">
    <h1 class="display-4">No mood published yet...</h1>
    <div class="mx-auto text-center col-md-6 mt-5">
      <img src="{% static 'diary/img/nocontent.jpeg' %}" class="img-fluid rounded" alt="no mood published">
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}