{% extends "diary/core/base.html" %}

{% block content %}
{% include 'diary/core/navbar.html' %}
<div class="container mt-3">
  <h1 class="display-4 text-center mb-4">My evolution</h1>
  <div class="card shadow mb-5 p-3">
    <div class="card-body">
      <div class="h-100"></div>
      <canvas id="chart"></canvas>
    </div>
    <div class="text-center mt-4">
      <div class="bg-dark text-white font-weight-bold">
        <p class="p-2">Do excercise</p>
      </div>
      <div class="bg-primary text-white font-weight-bold">
        <p class="p-2">Sleep 8 hours every day</p>
      </div>
      <div class="bg-info text-white font-weight-bold">
        <p class="p-2">Do something you like every day</p>
      </div>
      <div class="bg-success text-white font-weight-bold">
        <p class="p-2">Accept yourself</p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block custom_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
  var ctx = document.getElementById('chart').getContext('2d');
  var chart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
        {% for avg_score in avg_scores %}
        "{{avg_score.updated_on__date | date:"d / m / Y"}}",
        {% endfor %}
      ],

      datasets: [{
        label: 'Avg Happiness',
        backgroundColor: 'rgb(68, 109, 228)',
        borderColor: 'rgb(68, 109, 228)',

        data: [
          {% for avg_score in avg_scores %}
          {{ avg_score.avg }},
          {% endfor %}
        ]
      }]
    },

    options: {
      legend: {
        position: 'bottom',
          labels: {
          usePointStyle: true
        }
      }
    }
  });
</script>
{% endblock %}