{% extends "diary/core/base.html" %}

{% block title %}
Dear Diary - Evolution
{% endblock %}

{% block content %}
{% include 'diary/core/navbar.html' %}
<div class="container mt-3">
  <h1 class="display-4 font-weight-bold text-center mb-4">
    My evolution
    <i class="fas fa-seedling text-success"></i>
  </h1>
  <div class="card shadow mb-5 p-3 rounded-lg animated fadeIn">
    <div class="card-body">
      <canvas id="chart"></canvas>

      <ul class="list-group list-group-flush text-center mt-4">
        <li class="list-group-item font-weight-bold">
          <p>Keep it up {{ request.user }}!</p>
        </li>
        <li class="list-group-item font-weight-bold">
          <p>What await us tomorrow?</p>
        </li>
        <li class="list-group-item font-weight-bold">
          <p>You are doing great!</p>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block custom_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
  var ctx = document.getElementById('chart').getContext('2d');
  var chart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
        {% for avg_score in avg_scores %}
        "{{avg_score.updated_on__date | date:"d / m / Y"}}",
        {% endfor %}
      ],

      datasets: [{
        label: 'Avg Happiness',
        backgroundColor: 'rgb(68, 109, 228)',
        borderColor: 'rgb(68, 109, 228)',

        data: [
          {% for avg_score in avg_scores %}
          {{ avg_score.avg }},
          {% endfor %}
        ]
      }]
    },

    options: {
      legend: {
        position: 'bottom',
          labels: {
          usePointStyle: true
        }
      }
    }
  });
</script>
{% endblock %}