{% extends "diary/core/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="card shadow bg-white rounded mx-auto">
        <img src="{% static 'diary/img/diary.jpg' %}" class="img-fluid" alt="diary">
        <div class="card-body text-center">
          <h1 class="card-title display-1">Dear Diary</h1>
          <p class="card-text lead">Yesterday was an amazing day because...</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-5">
      {% include 'diary/core/form.html' %}

      <div class="text-right font-weight-bold mb-3">
        <a href="{% url 'diary:signup' %}" class="text-decoration-none">Don't have an account? Sign up</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}