{% extends "diary/core/base.html" %}
{% block title %}
Dear Diary - Profile
{% endblock %}

{% block content %}
{% include 'diary/core/navbar.html' %}
<div class="container mt-3">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <h1 class="display-4 font-weight-bold text-center my-3">
        Hi {{profile.user}}
        <i class="fas fa-id-card text-primary"></i>
      </h1>
    </div>
  </div>

  <div class="row-sm-12 mb-5">
    <div class="card mx-auto shadow p-3 bg-white rounded-lg animated fadeIn">
      <div class="text-right">
        {% if profile.public %}
        <span class="badge badge-pill badge-success">Public</span>
        {% else %}
        <span class="badge badge-pill badge-danger">Private</span>
        {% endif %}
      </div>
      <div class="mx-auto text-center col-md-6">
        <img loading="lazy" src="{{profile.avatar.url}}" class="img-fluid rounded-circle" alt="avatar">
      </div>
      <div class="card-body">
        <h5 class="mt-0 text-center">Your profile
          {% if profile.public %}
          <i class="fas fa-unlock text-success"></i>
          {% else %}
          <i class="fas fa-lock text-danger"></i>
          {% endif %}
        </h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row row-cols-sm-2 p-2">
              <span class="text-muted mr-5">Email</span>
              {{profile.user.email}}
            </div>
          </li>
          <li class="list-group-item">
            <div class="row row-cols-sm-2 p-2">
              <span class="text-muted mr-5">Birth date</span>
              {{profile.birth_date | date:"d/m/Y"}}
            </div>
          </li>
          <li class="list-group-item">
            <div class="row row-cols-sm-2 p-2 overflow-auto">
              <span class="text-muted mr-5">Address</span>
              {{profile.address}}
            </div>
          </li>
          {% if profile.gender == 1 %}
          <div class="text-center mt-4">
            <i class="fas fa-5x fa-male skin-color"></i>
          </div>
          {% elif profile.gender == 2 %}
          <div class="text-center mt-4">
            <i class="fas fa-5x fa-female skin-color"></i>
          </div>
          {% else %}
          <div class="text-center mt-4">
            <i class="fas fa-5x fa-genderless skin-color"></i>
          </div>
          {% endif %}
        </ul>
        <div class="row flex-row-reverse">
          <a class="btn btn-info" href="{% url 'diary:edit_profile' profile.id %}">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}