{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'diary/css/bootstrap.min.css' %}">

  <!-- Custom font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap" rel="stylesheet">

  <!-- Custom styles -->
  <link rel="stylesheet" href="{% static 'diary/css/style.css' %}">

  <title>Dear Diary</title>
</head>

<body class="d-flex flex-column vh-100">
  {% block content %}
  {% endblock %}

  {% include 'diary/core/footer.html' %}
  <script src="{% static 'diary/js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'diary/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://kit.fontawesome.com/4ec8e7ab5d.js" crossorigin="anonymous"></script>

  {% block custom_scripts %}
  {% endblock %}
</body>