<div class="mt-5"></div>
<footer class="fixed-bottom bg-primary font-weight-bold text-center text-break">
  <div class="mb-2 text-white">
    <p class="my-2">
      &copy {% now 'Y' %} Dear Diary - Developed by Adrián Lizaga
    </p>
    <a class="d-inline-block" href="https://github.com/adrianliz" target="_blank">
      <i class="fab fa-2x fa-github text-white"></i>
    </a>
    <a class="d-inline-block ml-2" href="mailto:759090@unizar.es" target="_blank">
      <i class="fas fa-2x fa-envelope text-white"></i>
    </a>
  </div>
</footer>