<div class="row row-cols-1 row-cols-md-2 mb-5">
  {% for mood in moods %}
  <div class="col my-3">
    <div class="card h-100 shadow rounded-lg" data-aos="zoom-in">
      <div class="card-body">
        <h1 class="card-title display-4 mb-4 text-break">
          <i class="ml-2 far fa-bookmark"></i>
          {{ mood.name }}
        </h1>
        <h5>Description <i class="ml-2 fas fa-feather"></i></h5>
        <hr class="mt-0">
        <p class="card-title text-justify">{{ mood.description }}</p>
        <p class="card-text" data-aos="fade-right">
          {% with ''|center:mood.score as range %}
          {% for _ in range %}
          <i class="far fa-smile-beam text-warning"></i>
          {% endfor %}
          {% endwith %}
        </p>
        <div class="row flex-row-reverse">
          {% if allow_crud %}
          <form method="POST" action="{% url 'diary:delete' mood.id %}" class="text-right mr-2">
            {% csrf_token %}<input type="submit" class="btn btn-danger" value="Delete">
          </form>
          <a class="btn btn-info d-inline-block mr-2" href="{% url 'diary:edit_mood' mood.pk %}">Edit</a>
          {% endif %}
        </div>
        <p class="card-text">
          <small class="text-muted">Last updated {{ mood.updated_on | date:"d/m/Y H:i" }}</small>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>