{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'diary:dashboard' %}">
    <img src="{% static 'diary/img/logo.webp' %}" width="35" height="35" alt="logo" loading="lazy">
    <span class="font-weight-bold ml-2">Dear Diary</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    {% url 'diary:dashboard' as dashboard_url %}
    {% url 'diary:create' as create_url %}
    {% url 'diary:profile' as profile_url %}
    {% url 'diary:contact' as contact_url %}
    {% url 'diary:evolution' as evolution_url %}
    {% url 'diary:community' as community_url %}
    {% url 'diary:ranking' as ranking_url %}
    {% url 'diary:advices' as advices_url %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link {% if request.path == dashboard_url %}active font-weight-bold{% endif %}"
           href="{{dashboard_url}}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == create_url %}active font-weight-bold{% endif %}"
        href="{{create_url}}">New mood</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == profile_url %}active font-weight-bold{% endif %}"
        href="{{profile_url}}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == evolution_url %}active font-weight-bold{% endif %}"
        href="{{evolution_url}}">My evolution</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == advices_url %}active font-weight-bold{% endif %}"
        href="{{advices_url}}">Advices</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link {% if request.path == community_url %}active font-weight-bold{% endif %}"
        href="{{community_url}}">Community</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == ranking_url %}active font-weight-bold{% endif %}"
        href="{{ranking_url}}">Ranking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == contact_url %}active font-weight-bold{% endif %}"
        href="{{contact_url}}">Contact us</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row justify-content-center mt-3">
    <div class="col"></div>
    <div class="col mt-1 text-center">
      {% include 'diary/core/toggle-theme.html' %}
    </div>
    <div class="col text-right">
      <a type="button" class="btn btn-primary" href="{% url 'diary:logout' %}">Logout</a>
    </div>
  </div>
</div>