{% extends "diary/core/base.html" %}

{% block title %}
Dear Diary - {{form_name}}
{% endblock %}

{% block content %}
{% if include_navbar %}
{% include 'diary/core/navbar.html' %}
{% endif %}
<div class="container mt-3">
  {% if page_title %}
  <div class="row mb-4">
    <div class="col-sm-6 mx-auto">
      <h1 class="display-4 font-weight-bold text-center d-none d-lg-block mt-3">
        {{page_title | safe}}
      </h1>
      </h1>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-sm-6 mx-auto">
      {% include 'diary/core/form.html' %}
    </div>
  </div>

  <div class="text-center font-weight-bold mb-5">
    {% if back_url %}
    <a href={{back_url}} class="link-zoom text-decoration-none">Go back</a>
    {% endif %}
  </div>
</div>
{% endblock %}