{% if is_paginated %}
<nav aria-label="pagination">
  <ul class="pagination flex-wrap justify-content-center mt-3">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link font-weight-bold" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link font-weight-bold" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    {% endif %}

    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item active" aria-current="page">
      <a class="page-link font-weight-bold" href="#">{{ i }}<span class="sr-only">(current)</span></a>
    </li>
    {% else %}
    <li class="page-item">
      {% if request.GET.sortby %}
      <a class="page-link font-weight-bold" href="?page={{ i }}&sortby={{ request.GET.sortby }}">{{ i }}</a>
      {% else %}
      <a class="page-link font-weight-bold" href="?page={{ i }}">{{ i }}</a>
      {% endif %}
    </li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link font-weight-bold" href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link font-weight-bold" href="#" tabindex="-1" aria-disabled="true">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}